// Author : Rehmat Qadir
// Description : nxbmail
// Date : 11th Aug, 2011

// Layout of Application.. used in the users login
!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html'}
    %meta{:name => 'author', :content => 'Rehmat Qadir'}
    %meta{:name => 'description', :content => 'Email Client'}
    %meta{:name => 'keywords', :content => 'nxbmail'}
    %title Email Client
    %link{:rel => 'SHORTCUT ICON', :href => '../images/favicon.ico', :type => 'image/x-icon'}
    = stylesheet_link_tag 'style'
    = include_tiny_mce_if_needed
    = csrf_meta_tag
  %body
    #wrapper
      = render :partial => 'partials/header'
      #content-container
        = yield
      = render :partial => 'partials/footer'